/* 
NOTE:
Currency API used in this project is not working currently.
If someone knows a working free API, please recommend.
*/
*{
    margin: 0;
    padding: 0;
}
/* h2{
    font-weight: bolder;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e85d04;
    color: black;
    font-weight: bold;
    font-size: x-large;


}
.container{
    background-color: #faa307;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 60vh;
}
form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

input{
    border: 2px solid #6a040f;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    padding: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* padding: 1rem; */
}

.dropdown i{
    font-size :1rem;
    margin-top: 1.2rem;
    padding: 2rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.5rem;
    border: 2px solid #6a040f;
    width: 6rem;
    background-color:#9d0208 ;
}

.select-container select{
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    font-weight: bolder;
    margin-left: 2rem;

}

form button{
    height: 3rem;
    background-color: #370617;
    color:#fff;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
